In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [32]:
import pandas as pd
data = pd.read_csv("/kaggle/input/voitavito/avito_prix_des_voitures.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9690 entries, 0 to 9689
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       9690 non-null   int64
 1   prix             9690 non-null   int64
 2   Cheval           9690 non-null   int64
 3   Carburant        9690 non-null   object
 4   Boite_a_vitesse  9690 non-null   object
 5   Modele           9690 non-null   object
 6   Kilometrage      9690 non-null   object
 7   Age              9690 non-null   int64
dtypes: int64(4), object(4)
memory usage: 605.8+ KB

In [17]:
data.shape

(9690, 8)

In [33]:
data.drop(columns=data.columns[0], axis=1,  inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9690 entries, 0 to 9689
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   prix             9690 non-null   int64
 1   Cheval           9690 non-null   int64
 2   Carburant        9690 non-null   object
 3   Boite_a_vitesse  9690 non-null   object
 4   Modele           9690 non-null   object
 5   Kilometrage      9690 non-null   object
 6   Age              9690 non-null   int64
dtypes: int64(3), object(4)
memory usage: 530.0+ KB

In [34]:
data['Carburant'] = data['Carburant'].astype('category')
data['Boite_a_vitesse'] = data['Boite_a_vitesse'].astype('category')
data['Modele'] = data['Modele'].astype('category')
data['Kilometrage'] = data['Kilometrage'].astype('category')

In [35]:
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9690 entries, 0 to 9689
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   prix             9690 non-null   int64
 1   Cheval           9690 non-null   int64
 2   Carburant        9690 non-null   category
 3   Boite_a_vitesse  9690 non-null   category
 4   Modele           9690 non-null   category
 5   Kilometrage      9690 non-null   category
 6   Age              9690 non-null   int64
dtypes: category(4), int64(3)
memory usage: 266.8 KB

     prix  Cheval Carburant Boite_a_vitesse  Modele        Kilometrage  Age
0   45000       6    Diesel        Manuelle   Logan  120 000 - 129 999   14
1  118000       6    Diesel        Manuelle   Logan    50 000 - 54 999    4
2   79000       6    Diesel        Manuelle   Logan  140 000 - 149 999    6
3  115000       7    Diesel        Manuelle   Logan  120 000 - 129 999    5
4   90000       6    Diesel        Manuelle  Dokker  120 000 - 129 999    7

In [ ]:
for col in data.columns[1:]:
    print(col,":",data[col].nunique())
    print(data[col].value_counts())
    print('\n' + '*' * 10 + '\n')

In [36]:
#one-hot encoding
data = pd.get_dummies(data)

In [37]:
data.head()

,prix,Cheval,Age,Carburant_Diesel,Carburant_Essence,Carburant_Hybride,Boite_a_vitesse_Automatique,Boite_a_vitesse_Manuelle,Modele_Dokker,Modele_Duster,...,Kilometrage_55 000 - 59 999,Kilometrage_60 000 - 64 999,Kilometrage_65 000 - 69 999,Kilometrage_70 000 - 74 999,Kilometrage_75 000 - 79 999,Kilometrage_80 000 - 84 999,Kilometrage_85 000 - 89 999,Kilometrage_90 000 - 94 999,Kilometrage_95 000 - 99 999,Kilometrage_Plus de 500 000
0,45000,6,14,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,118000,6,4,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,79000,6,6,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,115000,7,5,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,90000,6,7,1,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
data.columns

Index(['prix', 'Cheval', 'Age', 'Carburant_Diesel', 'Carburant_Essence',
       'Carburant_Hybride', 'Boite_a_vitesse_Automatique',
       'Boite_a_vitesse_Manuelle', 'Modele_Dokker', 'Modele_Duster',
       'Modele_Logan', 'Kilometrage_0 - 4 999', 'Kilometrage_10 000 - 14 999',
       'Kilometrage_100 000 - 109 999', 'Kilometrage_110 000 - 119 999',
       'Kilometrage_120 000 - 129 999', 'Kilometrage_130 000 - 139 999',
       'Kilometrage_140 000 - 149 999', 'Kilometrage_15 000 - 19 999',
       'Kilometrage_150 000 - 159 999', 'Kilometrage_160 000 - 169 999',
       'Kilometrage_170 000 - 179 999', 'Kilometrage_180 000 - 189 999',
       'Kilometrage_190 000 - 199 999', 'Kilometrage_20 000 - 24 999',
       'Kilometrage_200 000 - 249 999', 'Kilometrage_25 000 - 29 999',
       'Kilometrage_250 000 - 299 999', 'Kilometrage_30 000 - 34 999',
       'Kilometrage_300 000 - 349 999', 'Kilometrage_35 000 - 39 999',
       'Kilometrage_350 000 - 399 999', 'Kilometrage_40 000 - 44 999',
       'Kilometrage_400 000 - 449 999', 'Kilometrage_45 000 - 49 999',
       'Kilometrage_450 000 - 499 999', 'Kilometrage_5 000 - 9 999',
       'Kilometrage_50 000 - 54 999', 'Kilometrage_55 000 - 59 999',
       'Kilometrage_60 000 - 64 999', 'Kilometrage_65 000 - 69 999',
       'Kilometrage_70 000 - 74 999', 'Kilometrage_75 000 - 79 999',
       'Kilometrage_80 000 - 84 999', 'Kilometrage_85 000 - 89 999',
       'Kilometrage_90 000 - 94 999', 'Kilometrage_95 000 - 99 999',
       'Kilometrage_Plus de 500 000'],
      dtype='object')

In [24]:
data.iloc[3]

prix                             115000
Cheval                                7
Age                                   5
Carburant_Diesel                      1
Carburant_Essence                     0
Carburant_Hybride                     0
Boite_a_vitesse_Automatique           0
Boite_a_vitesse_Manuelle              1
Modele_Dokker                         0
Modele_Duster                         0
Modele_Logan                          1
Kilometrage_0 - 4 999                 0
Kilometrage_10 000 - 14 999           0
Kilometrage_100 000 - 109 999         0
Kilometrage_110 000 - 119 999         0
Kilometrage_120 000 - 129 999         1
Kilometrage_130 000 - 139 999         0
Kilometrage_140 000 - 149 999         0
Kilometrage_15 000 - 19 999           0
Kilometrage_150 000 - 159 999         0
Kilometrage_160 000 - 169 999         0
Kilometrage_170 000 - 179 999         0
Kilometrage_180 000 - 189 999         0
Kilometrage_190 000 - 199 999         0
Kilometrage_20 000 - 24 999           0
Kilometrage_200 000 - 249 999         0
Kilometrage_25 000 - 29 999           0
Kilometrage_250 000 - 299 999         0
Kilometrage_30 000 - 34 999           0
Kilometrage_300 000 - 349 999         0
Kilometrage_35 000 - 39 999           0
Kilometrage_350 000 - 399 999         0
Kilometrage_40 000 - 44 999           0
Kilometrage_400 000 - 449 999         0
Kilometrage_45 000 - 49 999           0
Kilometrage_450 000 - 499 999         0
Kilometrage_5 000 - 9 999             0
Kilometrage_50 000 - 54 999           0
Kilometrage_55 000 - 59 999           0
Kilometrage_60 000 - 64 999           0
Kilometrage_65 000 - 69 999           0
Kilometrage_70 000 - 74 999           0
Kilometrage_75 000 - 79 999           0
Kilometrage_80 000 - 84 999           0
Kilometrage_85 000 - 89 999           0
Kilometrage_90 000 - 94 999           0
Kilometrage_95 000 - 99 999           0
Kilometrage_Plus de 500 000           0
Name: 3, dtype: int64

In [39]:
y = data["prix"]
X = data.drop("prix", axis = 1)

In [40]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=45)

In [41]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [42]:
import pickle
filename = 'LR_model_prix_voitures_avito.sav'
pickle.dump(lr, open(filename, 'wb'))

In [43]:
lr.score(X_test, y_test).round(4)

0.469

In [44]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(max_depth=2, random_state=42)
rf.fit(X_train, y_train)

RandomForestRegressor(max_depth=2, random_state=42)

In [45]:
rf.score(X_test, y_test).round(4)

0.4142